@import "~bootstrap/dist/css/bootstrap.min.css";

/* ===== Variables CSS ===== */

:root {
    --primary-bg-color: #f7f9ff;
    --secondary-bg-color: #e8f0ff;
    --app-bg-color: #2e41ec83;
    --success-bg-color: #1dc44f;
    --warning-bg-color: #dcc112;
    --danger-bg-color: #d61313;

    --primary-font-color: #4b4b4b;
    --secondary-font-color: #696969;

    --secondary-border-radius: 15px;
    --primary-border-radius: 7px;
}

/* ===== Body ===== */

body {
    margin: 0;
    padding: 0;
    background: var(--primary-bg-color);
}

.preloader {
    margin-top: 20%;
}

.chat {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-font-color);
    height: 100vh;
    cursor: default;
}

/* ===== Header ===== */

.chat .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--app-bg-color);
    border-bottom: 3px solid var(--primary-bg-color);
    z-index: 999;
}

.header .header-title {
    background-color: var(--app-bg-color);
    border-radius: var(--primary-border-radius);
    margin: 5px;
    color: var(--primary-bg-color);
}

.header .header-title img {
    width: 40px;
}

.header .header-users-count,
.header .header-messages-count,
.header .header-last-message-date {
    font-size: 14px;
    margin-left: 15px;
    background: var(--secondary-bg-color);
    border-radius: var(--secondary-border-radius);
    color: var(--secondary-font-color);
}

.header .logout {
    border: none;
    border-radius: var(--secondary-border-radius);
}

/* ===== Message List  ===== */

.chat .message-list {
    font-size: 12px;
    background: var(--secondary-bg-color);
    border-radius: var(--primary-border-radius);
    overflow-y: auto;
    border: 2px solid var(--secondary-bg-color);
    padding: 10%;
}

/* ===== User Message ===== */

.message-list .message {
    width: 60%;
}

.message-list .message .user-info-wrapper {
    margin-right: 10px;
}

.message-list .message .message-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: var(--secondary-border-radius);
    -o-object-fit: cover;
    object-fit: cover;
}

.message-list .message .message-text-wrapper {
    position: relative;
    background: var(--primary-bg-color);
    border-radius: var(--primary-border-radius);
    border-bottom-right-radius: 0;
    padding-right: 10px;
    width: 90%;
}

.message-list .message .message-like {
    color: var(--secondary-font-color);
    font-size: 24px;
}

.message-list .message .message-like:hover {
    color: var(--app-bg-color);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.message .message-like .like {
    color: var(--app-bg-color);
}

.message-list .message-time {
    position: absolute;
    bottom: -20px;
    right: 0;
    margin: 0;
    color: var(--secondary-font-color);
}

/* ===== Own Message ===== */

.message-list .own-message {
    width: 50%;
    background: var(--primary-bg-color);
    position: relative;
    color: var(--secondary-font-color);
    border-radius: var(--primary-border-radius);
    border-top-left-radius: 0;
}

.message-list .own-message textarea {
    resize: none;
    width: 90%;
    height: 100%;
    border: none;
    background: var(--primary-bg-color);
}


.message-list .own-message .fa-edit {
    color: var(--warning-bg-color);
}

.message-list .own-message .fa-trash {
    color: var(--danger-bg-color);
}

.message-list .own-message .fa-edit:hover,
.message-list .own-message .fa-trash:hover {
    color: var(--app-bg-color);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.message-list .own-message .actions {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 5px;
    top: 0;
}

.message-list .own-message .actions a {
    padding: 0;
    margin: 2px;
}

.actions a .fa-edit {
    margin-top: 5px;
}

/* ===== Input Message ===== */

.chat .message-input {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--app-bg-color);
    height: 8%;
    border-top: 2px solid var(--primary-bg-color);
}

.chat .message-input-text {
    margin-right: 20px;
    background-color: var(--primary-bg-color);
    color: var(--secondary-font-color);
    border-radius: var(--primary-border-radius);
    border: 2px solid var(--primary-bg-color);
}

.chat .message-input-text:focus {
    color: var(--primary-font-color);
    border-color: var(--success-bg-color);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.chat .message-input-button {
    background-color: var(--success-bg-color);
    border-radius: var(--primary-border-radius);
    border: none;
    width: 20%;

}

.chat .message-input-button:hover {
    opacity: 0.8;
}

.edit-actions > .btn {
    width: 100%;
}


/* ===== Users ===== */

.user-info {
    background: var(--secondary-bg-color);
    border-radius: var(--secondary-border-radius);
}


/* ===== Media Query ===== */

/* ===== max-width:767px ===== */

@media only screen and (max-width: 767px) {


    .header .header-users-count,
    .header .header-messages-count,
    .header .header-last-message-date {
        font-size: 10px;
        margin: 1px;
    }

    .header .header-title img {
        width: 35px;
    }

    .header .header-title h2 {
        font-size: 14px;
    }

    .chat .message-list {
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .message-list .message,
    .message-list .own-message {
        width: 80%;
    }

    .chat .input-button-text {
        display: none;
    }
}

/* ===== max-width:523px ===== */

@media only screen and (max-width: 523px) {
    .chat .message-list {
        padding: 12% 0;
    }

    .header .header-users-count,
    .header .header-messages-count,
    .header .header-last-message-date {
        font-size: 8px;
    }

    .header .header-title img {
        width: 30px;
    }

    .header .header-title h2 {
        margin-top: 5px;
        font-size: 12px;
    }

    .message-list .message {
        width: 90%;
    }
}

/* ===== max-width:447px ===== */

@media only screen and (max-width: 447px) {
    .chat .header {
        height: 8%;
    }

    .chat .message-list {
        padding-top: 14%;
    }

    .header .header-users-count,
    .header .header-messages-count,
    .header .header-last-message-date {
        font-size: 6px;
        margin: 2px;
    }

    .header .header-title img {
        width: 11px;
    }

    .header .header-title h2 {
        font-size: 9px;
    }
}

/* ===== max-width:367px ===== */

@media only screen and (max-width: 367px) {
    .chat .header {
        height: 8%;
    }

    .header .header-users-count,
    .header .header-messages-count,
    .header .header-last-message-date {
        font-size: 5px;
        margin: 1px;
    }

    .header .header-title img {
        display: none;
    }

    .header .header-title h2 {
        font-size: 8px;
    }

    .chat .message-list {
        padding: 15% 0;
    }

    .message-list .message,
    .message-list .own-message {
        font-size: 8px;
    }
}


